<header>
    <div>
        <h2 id="header-title">Collaborate</h2>
    </div>
    
        <ul id="navigation-list">
            <% if(locals.user){ %>
                <div><li><a href="/users/profile">Profile</a></li></div>
                <div><li><a href="/users/sign-out">Sign Out</a></li></div>
            <% }else{ %>
                <div><li><a href="/users/signin">Sign In</a></li></div>
                <div><li><a href="/users/signup">Sign Up</a></li></div>
            <% } %>
        </ul>
        <script src="/js/_header.js"></script>
    
</header>