<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="main-heading">
            <h1>Collaborate</h1>
            <p>
                Start working on a new project now!
            </p>
        </div>
        <button class="home-button" id="sign-in-button">Sign IN</button>
        <button class="home-button" id="sign-up-button">Sign UP</button>
        <script src="/js/home.js"></script>
    </body>
</html>