<html>
    <head>
        <title> <%= title %> </title>
    </head>
    <body>
        <h1>Collaborate In a Efficient Way</h1>
        <button class="home-button">Sign IN</button>
        <button class="home-button">Sign UP</button>
    </body>
</html>