<!DOCTYPE html>
<html>
    <head>
        <title>Collaborate: Sign Up</title>
    </head>
    <body>
        <h2>Sign Up</h2>
        <form action="/users/create-user" method="POST">
            <label for="name" >Full Name:</label><br>
            <input type="text" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="text" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password" required><br>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="password" name="confirmPassword" required><br>
            <button type="submit">Sign Up!</button>  
        </form>

    </body>
</html>